<!DOCTYPE html>
<html>
<style type="text/css">
     html, body { height: 100%; margin: 0; padding: 0; }
     #map { height: 100%; }
   </style>
  <head>
    <title>Riptavise</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
  </head>

  <body>
    <%= yield %>
  </body>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["GOOGLEKEY"]%>&callback=initMap" async defer></script>

</html>
